.experiencia{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo{
  color: #e0e0e0;
}

.experiencia-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
}

.experiencia-texto strong{
  color: #141414;
}

.projeto{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  gap: 10px 20px;
}

.projeto a{
  display: inline-block;
}

.projeto-links img{
  max-width: 100%;
  display: block;
}

.projeto-links{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-content: center;
}

.projeto::before{
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  position: absolute;
  background: linear-gradient(#67B2F8,#3783F4);
  top: 20px;
  left: -4px;
}

.projeto-titulo{
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.projeto-texto{
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
  grid-column: 1;
}

.projeto-tecnologias{
  display:flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.projeto-tecnologias li{
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background-color: #ffff;
}

.projeto-repositorio{
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  display: none;
}

.projeto-repositorio a{
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 4px;
}

.projeto-repositorio a:hover{
  color: #fff;
  background-color: #3783F4;
}

@media (max-width: 800px){
  .experiencia{
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo{
    color: #141414;
  }

  .experiencia-texto{
    font-size: 1.25rem;
    font-weight: 600;
  }
}

@media (max-width: 600px){
  .projeto{
    grid-template-columns: 1fr;
  }

  .projeto-texto{
    margin-bottom: 10px;
  }

  .experiencia span, .projeto-links{
    display: none;
  }

  .projeto-repositorio{
    display: block;
  }
}