.footer-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px;
  display: flex;
  align-items: center;
  gap: 200px;
}

.footer{
  background-color: #000;
}

.footer-texto{
  font-size: 1.5rem;
  color: #a3a3a3;
  max-width: 30ch;
}

.footer li{
  font-size: 2.25rem;
  color: #fff;
  font-weight: bold;
}

.footer-contatos{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-contatos a{
  text-decoration: none;
  color: #fff;
}

.footer-contatos a:hover{
  color: #3783F4;
}

.botao-contato{
  display: none;
}

.botao-contato a{
  color: #01183b;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #3783F4;
  padding: 10px 20px;
  border-radius: 8px;
}

@media (max-width: 1100px){
  .footer-container{
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
}

 @media (max-width: 800px){
  .footer-texto{
    font-size: 1.5rem;
  }

  .footer li{
    font-size: 2rem;
  }

  .footer-contatos{
    align-items: start;
  }
} 

@media (max-width: 700px){
  .gotop{
    display: none;
  }
}

@media (max-width: 500px){
  .footer li{
    font-size: 1.6rem;
  }
}


@media (max-width: 420px){
  .footer-texto{
    font-size: 1.2rem;
  }

  .footer ul{
    display: none;
  }

  .botao-contato{
    display: block;
  }
}